<h3>Result: </h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pay period</th>
      <th>Gross income</th>
      <th>Income tax</th>
      <th>Net income</th>
      <th>Super</th>
  </thead>
  <tbody>
    <tr>
      <td><%= payslip.name %></td>
      <td><%= payslip.pay_period %></td>
      <td><%= payslip.gross_income %></td>
      <td><%= payslip.income_tax %></td>
      <td><%= payslip.net_income %></td>
      <td><%= payslip.super %></td>
    </tr>
  </tbody>
</table>
