<h1>Payslips</h1>

<% if @payslip %>
  <%= render partial: "result", locals: {payslip: @payslip} %>
<% end %>

<br>

<%= form_for(@employee, url: payslips_create_url, html: {class: "form-horizontal"}) do |f| %>

<% if @employee.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@employee.errors.count, "error") %> Errors bofore generate:</h2>
  <ul>
    <% @employee.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :first_name, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :last_name, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
</div>


<div class="form-group">
  <%= f.label :annual_salary, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :annual_salary, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :super_rate, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :super_rate, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= label_tag :payment_start_date, nil, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_field_tag :payment_start_date, @payslip ? @payslip.pay_period : nil, class: "form-control", placeholder: "like: '01 March - 31 Marchr'" %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Generate", class: "btn btn-default" %>
  </div>
</div>

<% end %>
